Podfile/*
.idea/
Podfile
Podfile.lock
Pods/
fairrad.xcworkspace/xcuserdata/matthiasschicker.xcuserdatad/xcdebugger/
fairrad/GoogleService-Info.plist
fairrad.xcodeproj/xcuserdata/matthiasschicker.xcuserdatad/xcdebugger
